*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
 body{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.container{
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.size{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.size-box{
    width: 40%;
    height: 40px;
    background-color: aquamarine;
}
.size-box1{
    width: 40%;
    height: 40px;
    background-color: rgb(31, 11, 128);
}